select {
	/* Personalize */
	border: none;
	flex: 1;
	padding: 0 1em;
	cursor: pointer;
	border-radius: none;
}
/* Remove IE arrow */
select::-ms-expand {
	display: none;
}
/* Custom Select wrapper */
.select {
	display: flex;
	width: 25em;
	height: 2.5rem;
	border-radius: 2px;
	gap: 3rem;
}

/* Other styles*/
