:root {
	--color-white: #fff;
	--color-black: #000;
	--font-color-white: #fff;
	--font-color-black: #000;

	--font: 'Roboto Mono', monospace;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px */
	scroll-behavior: smooth;
	color-scheme: dark;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
*:focus {
	outline: none;
}

body {
	font-family: var(--font);
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	color: var(--font-color-white);
}

a {
	text-decoration: none;
	color: var(--font-color-white);
	display: block;
}

p,
span {
	font-family: var(--font);
	font-weight: 200;
	font-size: 1.2rem;
}
h1 {
	font-size: 2rem;
	font-weight: 300;
}
h2 {
	font-size: 1.4rem;
	font-weight: 300;
}
h4 {
	font-size: 1.3rem;
	font-weight: 200;
}
h3 {
	font-size: 1.7rem;
	font-weight: 300;
}
textarea,
input {
	outline: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	color: var(--font-color-white);
}

svg {
	width: 20px;
	height: 20px;
}
.hr {
	border-bottom: 0.5px solid #ffffff29;
}

.container {
	width: 100%;
	padding: 5rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 3% 20%;
	grid-template-rows: 6rem 1fr 1fr;
	grid-row-gap: 5rem;
	grid-column-gap: 3rem;
	grid-template-areas:
		'area1 area1 area1 area1 area1'
		'area2 area2 . area3 area3'
		'area2 area2 . area3 area3'
		'area4 area4 area4 area3 area3';
}
.item-b {
	grid-area: area2;
	gap: 1rem;
}

.item-a {
	grid-area: area3;
}

.header-container {
	grid-area: area1;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.item-d {
	grid-area: area4;
}
.container-dash {
	margin: 2rem;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
	gap: 2px;
}
.container-det {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin-top: 2rem;
	margin-right: 10rem;
	position: fixed;
	padding: 10px;
	border-top: 0.5px solid #ffffff52;
	border-left: 0.5px solid #ffffff52;
	width: 100%;
}

.detail-card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.detail-buttons {
	display: flex;
	justify-content: flex-start;
	row-gap: 0.7rem;
}
/* .info-det {
	display: flex;
} */
.text-det {
	max-width: 75%;
}
.detail-buttons button {
	/* display: grid;
	grid: repeat(auto-fit, minmax(10px, 1fr)); */
	width: fit-content;
}

.container-det img {
	border-radius: 3px;
	max-width: 40%;
}
.detail-title h3 {
	font-weight: bold;
}
.detail-buttons button {
	/* background-color: transparent;
	background-repeat: no-repeat;*/
	cursor: pointer;
	border-radius: 3px;
	background: #333;
	/* overflow: hidden;
	
	filter: opacity(0.7);
	transition: all 0.4s ease-in-out; */
}
.header {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	padding: 1rem;
	z-index: 100;
	background-color: #000000d0;
	padding-top: 4rem;
	padding-right: 6rem;

	padding-left: 6rem;
}

nav {
	display: grid;
	grid-template-columns: 1fr 3.5fr 2fr;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	gap: 1rem;
}
nav ul li {
	padding: 0.5rem 0;
}
.searcher input {
	width: 100%;
	padding: 0.5rem 0;
	cursor: pointer;
	font-family: var(--font);
	background-color: transparent;
	border: none;
	outline: none !important ;
	margin-bottom: 10px;
}
.searcher input::placeholder {
	color: rgba(255, 255, 255, 0.909);
	font-family: var(--font);
	font-size: 1.3rem;
	font-weight: 200;
}

input:-webkit-autofill {
	background: #fff !important;
}

.search-books {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.selected-book img {
	transform-origin: left top right bottom;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 20px 10px rgb(0 0 0 / 0.2);
	border-radius: 3px;
	cursor: pointer;
	filter: opacity(0.7);
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.selected-book:hover img {
	scale: 1.25;
	border-radius: 0;
	filter: brightness(1.15);
	box-shadow: 0 0 20px 20px rgb(0 0 0 / 0.2);
	z-index: 999;
}
.divisorLine {
	display: block;
	height: 1px;
	background-color: rgb(255 255 255 / 0.2);
}

.checkedAtList {
	border-style: inset;
	/* outline: none; */
}

/* select */

/* Remove IE arrow */

/* Custom Select wrapper */
.select {
	display: flex;
	height: 2.5rem;
	border-radius: 2px;
	gap: 3rem;
	border: none;
}
option {
	color: var(--font-color-white);
	font-family: var(--font);
	font-size: 1.4rem;
	font-weight: 300;
}
select {
	width: 100%;
	border: none;
	padding: 0 1em;
	cursor: pointer;
	font-family: var(--font);
	font-size: 1.2rem;
	font-weight: 200;
}
.range-and-results {
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	width: 100%;
	align-items: center;
}
/* SLIDER  INPUT RANGE */
.range-slider {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.range-slider .input-range {
	appearance: none;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: #aeaeaed7;
	outline: none;
}
.range-slider .input-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #666;
	cursor: pointer;
	-webkit-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
}
.range-slider .input-range::-webkit-slider-thumb:hover {
	background: #fff;
}
.range-slider .input-range:active::-webkit-slider-thumb {
	background: #fff;
}
.range-slider .input-range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: #666;
	cursor: pointer;
	-webkit-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
}
.range-slider .input-range::-moz-range-thumb:hover {
	background: #fff;
}
.range-slider .input-range:active::-moz-range-thumb {
	background: #fff;
}
.range-slider .range-value {
	width: 50px;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	font-weight: 400;
	border-radius: 3px;
	background: transparent;
	padding: 5px 10px;
	font-family: var(--font);
	font-size: 1.3rem;
	font-weight: 200;
}

::-moz-range-track {
	background: #353535;
	border: 0;
}

input::-moz-focus-inner {
	border: 0;
}
