@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Noto+Serif+KR:wght@200;300;500&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,500;1,700&display=swap');

:root {
	--color-white: #fff;
	--color-black: #000;
	--font-color-white: #fff;
	--font-color-black: #000;
	--font-size-medium: 2rem;
	--color-orange-main: 255 103 0;
	--font-monda: 'Monda', sans-serif;
	--font-jost: 'Jost', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px */
	scroll-behavior: smooth;
	color-scheme: dark;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-monda);
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	color: var(--font-color-white);
}

a {
	text-decoration: none;
	color: var(--font-color-white);
	display: block;
}

p {
	font-size: var(--font-size-medium);
	font-family: var(--font-monda);
	font-weight: 100;
	font-size: 1.1rem;
}
h3 {
	font-size: 1.7rem;
	font-weight: 300;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	color: var(--font-color-white);
}

svg {
	width: 22px;
	height: 22px;
}
.hr {
	border-bottom: 0.5px solid #ffffff29;
}

.container {
	width: 100%;
	margin: 2rem;
	padding: 3rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 0.2fr 20%;
	grid-template-rows: 6rem 1fr 1fr;
	grid-gap: 2rem;
	grid-template-areas:
		'area1 area1 area1 area1 area1'
		'area2 area2 . area3 area3'
		'area2 area2 . area3 area3'
		'area4 area4 area4 area3 area3';
}
.item-b {
	grid-area: area2;
	gap: 1rem;
}

.item-a {
	grid-area: area3;
}

.header-container {
	grid-area: area1;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.item-d {
	grid-area: area4;
}
.container-dash {
	margin: 2rem;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	gap: 2px;
}
.container-det {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 200px));
	margin-top: 2rem;
	margin-right: 2rem;
	position: fixed;
	box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.151);
	padding: 1rem;
	justify-items: start;
	gap: 0.2rem;
}

.detail-card {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	margin-right: 2rem;
}
.detail-buttons {
	display: flex;
	padding-bottom: 1rem;
	justify-content: flex-start;
	gap: 1rem;
}

.container-det img {
	border-radius: 3px;
	object-fit: cover;
}
.detail-title h3 {
	font-weight: lighter;
}
.detail-buttons button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;

	--b: 0.1em; /* the thickness of the line */
	--c: #d3d3d3; /* the color */

	color: #0000;
	padding-block: var(--b);
	background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) /
			100% 200%,
		linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
			no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.3s var(--_s, 0s) linear,
		background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.detail-buttons button:hover {
	--_p: 100%;
	--_s: 0.3s;
	display: unset;
}
.header {
	position: fixed;
	height: 6rem;
	z-index: 100;
	background-color: #121212cc;
}

nav {
	display: flex;
	align-items: start;
	gap: 3rem;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.selected-book img {
	transform-origin: left top right bottom;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 20px 10px rgb(0 0 0 / 0.2);
	border-radius: 3px;
	cursor: pointer;
	filter: brightness(0.8);
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.selected-book:hover img {
	scale: 1.25;
	border-radius: 0;
	filter: brightness(1.15);
	box-shadow: 0 0 20px 20px rgb(0 0 0 / 0.2);
	z-index: 999;
}
.divisorLine {
	display: block;
	height: 1px;
	background-color: rgb(255 255 255 / 0.2);
}
